-e git+ssh://git@github.com/laperlej/epi_ml.git@5ec186c64ea5ea122969d988b9b6673e46dd415a#egg=EpiLaP
comet-ml
h5py
imbalanced-learn
matplotlib
pandas
pytorch-lightning
rich
scikit-learn
git+https://github.com/QuentinSoubeyran/scikit-optimize.git@unofficial
tabulate
torchinfo
torchmetrics>=0.7
