black==23.1.0
doc2dash==2.4.1
isort==5.12.0
kaleido>=0.2.1,<0.3
nbclassic==0.5.3
nbclient==0.7.2
nbconvert==7.2.9
nbdime==3.1.1
nbformat==5.7.0
pandocfilters==1.5.0
pre-commit==3.0.4
pylint==2.16.4
pytest==7.2.0
sphinx-gallery==0.11.1
